#game-board {
    display: flex;
    border: 5px solid black;
    margin: 0;
    width: 500px;
    aspect-ratio: 1/1;
}

#game-board > div {
    flex-direction: column;
    display: flex;
    flex: 1;
}

.content {
    display: flex;
    justify-content: center;
}

.cell {
    flex: 1;
}